# Task 4.6

## Script Contents:

1. Import libraries
2. Import orders_products_combined
3. Import products_checked
4. Merge the dataframes
5. Export the dataframe

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Create a path
path = r'C:\Users\dyl41\Documents\11-14-2022 Instacart Basket Analysis'

## Question 1

In [3]:
#Import orders_products_combined.pkl
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [19]:
#Drop extra column
df_ords_prods_combined = df_ords_prods_combined.drop(df_ords_prods_combined.columns[0], axis = 1)

## Question 2

In [20]:
#Check df_ords_prods_combined shape
df_ords_prods_combined.shape

(32434489, 10)

In [21]:
#Check dataframe
df_ords_prods_combined

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_purchase,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0
...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,False,14197,5,1
32434485,2977660,206209,13,1,12,7.0,False,38730,6,0
32434486,2977660,206209,13,1,12,7.0,False,31477,7,0
32434487,2977660,206209,13,1,12,7.0,False,6567,8,0
32434488,2977660,206209,13,1,12,7.0,False,22920,9,0

## Question 3

In [6]:
#Import products dataset
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [14]:
#Drop extra column
df_prods = df_prods.drop(df_prods.columns[0], axis = 1)

In [17]:
#Check dropped column
df_prods

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49667,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49686,Artisan Baguette,112,3,7.8
49670,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49688,Fresh Foaming Cleanser,73,11,13.5

In [16]:
#Check df_prods shape
df_prods.shape

(49672, 5)

In [9]:
#Drop the _merge column
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [10]:
#Check dropped column
df_ords_prods_combined.shape

(32434489, 11)

In [23]:
#Merge the dataframes
df_ords_prods_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [28]:
#Check the new dataframe
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_purchase,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

In [29]:
#Check new dataframe's value counts
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [30]:
#Check new dataframe's shape
df_ords_prods_merged.shape

(32404859, 15)

## Question 4

In [31]:
#Export the new dataframe as pickle format
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))